<!DOCTYPE html>
<html>
  <head>
    <title>Soundwavve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%#################################### top nav #################################### %>
    <nav id="top_nav" class="navbar navbar-expand-lg navbar-dark bg-dark my_nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if user_signed_in? %>
    
            <li id="user_greeting" class="dropdown">
              <a id="userDropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                hello, <%= current_user.first_name %>
                <span class="caret"></span>
              </a>
              <ul id="user_dropdown" class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                  <li><%= link_to 'home', root_path, :class => 'nav-item' %></li>
                  <li><%= link_to 'profile', "/users/#{current_user.id}", :class => 'nav-item' %></li>
                  <div class="dropdown-divider"></div>
                  <li><%= link_to 'log out', destroy_user_session_path, method: :delete, :class => 'nav-item' %></li>
              </ul>
            </li>

            <div class="nav_links">
              <li>
                <a id="studiosDropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                  studios
                  <span class="caret"></span>
                </a>
                <ul id="studios_dropdown" class="dropdown-menu" role="menu" aria-labelledby="studiosDropdown">
                    <li><%= link_to 'New York City', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'Los Angeles', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'Atlanta', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'New Orleans', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'Austin', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'Houston', root_path, :class => 'nav-item' %></li>
                </ul>
              </li>

              <li>
                <a id="userDropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                  connect
                  <span class="caret"></span>
                </a>
                <ul id="connect_dropdown" class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                    <li><%= link_to 'artists', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'producers', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'engineers', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'studio owners', root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to "A & R's", root_path, :class => 'nav-item' %></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to 'label owners', root_path, :class => 'nav-item' %></li>
                </ul>
              </li>

              <li>
                <a href="#">explore</a>
              </li>
            </div>

          <% else %>

            <ul id="nav_buttons" class="navbar-nav mr-auto nav_list"> 
              <li class="nav-item login">
                <a href="/users/sign_in">
                  <button class="btn btn-sm btn-dark">login</button>
                </a>
              </li>
              <li class="nav-item sign_up">
                <a href="/users/sign_up">
                  <button class="btn btn-sm btn-light">sign up</button>
                </a>
              </li>
            </ul>

          <% end %>

        </ul>
      </div>
    </nav>
  <%#################################### end top nav #################################### %>

  <%# Devise alerts... do I need something for Devise notices? %>
    <div class="alerts">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield :top_content %>
    
    <%= yield %>
  </body>
</html>
